@import 'mixins';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title,
.tagline {
	padding: 15px;
	text-align: center;
	background: var(--color-background);
}
.title {
	line-height: 1;
	font-size: 4rem;

	&:after {
		content: '';
		display: inline-block;
		margin-left: 15px;
		width: 64px;
		height: 62px;
		background: center / contain no-repeat url('/img/hops.svg');
	}
}
.tagline {
	margin: 0 auto;
	font-size: 1.5rem;
	line-height: 1.5;
}

.main {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 0 5rem;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
    flex: 1 1 250px;

	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 2px solid var(--color-secondary);
	background: var(--color-background);

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		border-color: var(--color-primary);
	}

	h3 {
		margin: 0 0 1rem 0;
		font-size: 1.5rem;
	}
	p {
		margin: 0;
		font-size: 1.25rem;
		line-height: 1.5;
	}
}
.list {
	ul,
	li {
		list-style: none;
		padding: 0;
	}
	a {
		display: flex;
		justify-content: space-between;

		max-width: 600em;
		margin: 1rem;
		padding: .75em 1.5rem;
		border: 2px solid var(--color-primary);
		background: var(--color-background);
		transition: all 150ms ease;
		font-size: 120%;

		@include heading;

		strong,
		span {
			display: block;
			font-weight: 400;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			filter: brightness(1.25);
		}
	}
}

.logo {
	height: 1em;
}