.breadcrumb {
	text-align: center;
}
.image {
	filter: grayscale(1) contrast(1.6) brightness(0.95);
	mix-blend-mode: multiply;
	object-fit: cover;
	transition: filter .36s ease-in;
	animation-name: fadeIn;
	animation-duration: .7s;
	animation-fill-mode: both;

	&:hover {
		filter: none;
		transition: filter .36s ease-in;
	}
}
.main {
	display: flex;
	max-width: 900px;
	margin: 0 auto;
	padding: 1em 3em 3em;

	ol {
		margin: 1.5em auto 0;

		li {
			text-indent: 15px;
		}
	}
}
.beer {
	box-sizing: border-box;
	margin: 1.5em auto 0;
	padding: 3em;
	border-radius: 10px;
	background :rgb(204,191,176);
	box-shadow: inset 0 0 2em rgba(0,0,0,.125);

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: stretch;
}
.beerinfo {
	display: flex;
	flex-direction: column;
	align-content: center;

	width: 100%;
	max-width: 500px;

	animation-name: fadeIn;
	animation-duration: .7s;
	animation-fill-mode: both;

	h2 {
		margin: 0 0 .5em;
		text-align: center;
		font-size: 2em;

		span {
			white-space: nowrap;
		}
		.brand {
			color: var(--color-highlight);
		}
	}
	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-self: center;
		width: 100%;
		padding-left: 0;

		li {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			strong,
			span {
				flex-basis: 0;
				flex-grow: 1;
				margin: 0 5px;
			}
			strong {
				text-align: right;
			}
			span {
				color: var(--color-highlight);
			}
		}
	}
}
.untappd {
	text-align: center;

	a {
		display: inline-block;
		padding: 10px 15px;
		border: 2px solid rgb(255,203,5);
		border-radius: 30px;
		text-decoration: none;
		text-align: center;
		font-size: small;
		font-weight: bold;
		line-height: 1;
		font-family: Arial, Helvetica, sans-serif;
		color: var(--color-text);
		opacity: .8;

		&:hover,
		&:focus {
			opacity: 1;
			background: rgb(255,203,5);
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@media (max-width:700px) {
	.meta h1 {
		font-size: 2em;
	}
	.beerinfo h2 {
		font-size: 1.2em;
	}
	.image {
		width: 100%;
		text-align: center;
	}
}