.meta header h1 {
  margin: 0;
  text-align: center;
}

.image {
  filter: grayscale(1) contrast(1.6) brightness(0.95);
  mix-blend-mode: multiply;
  object-fit: cover;
  transition: filter .36s ease-in;
  animation-name: fadeIn;
  animation-duration: .7s;
  animation-fill-mode: both;
}

.image:hover {
  filter: none;
  transition: filter .36s ease-in;
}

.swipercontainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em 3em 3em;
}

.swiperslide {
  box-sizing: border-box;
  margin: 0;
  padding: 3em 3em 0;
  border-radius: 10px;
  background: #ccbfb0;
  box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: stretch;
}

.beerinfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: .7s;
  animation-fill-mode: both;
}

.beerinfo h2 {
  margin-top: 0;
  text-align: center;
}

.beerinfo h2 .brand {
  color: var(--color-highlight);
}

.beerinfo ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}

.beerinfo ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.beerinfo ul li strong,
.beerinfo ul li span {
  flex-basis: 0;
  flex-grow: 1;
}

.beerinfo ul li span {
  color: var(--color-highlight);
}

.untappd {
  margin: 2em auto;
  text-align: center;
}

.untappd a {
  display: inline-block;
  padding: 1em;
  background: #ffcb05;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  color: #3e3322;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
