@import 'mixins';

.breadcrumb {
	text-align: center;

	a {
		padding: 5px 10px;
		border: 2px solid var(--color-secondary);
		background: var(--color-background);
		text-decoration: none;
		color: var(--color-text);
		font-family: var(--font-primary);

		&:hover,
		&:focus {
			border-color: var(--color-primary);
		}
	}
}
.image {
	position: relative;
	min-width: 200px;

	& img {
		width: 100%;
		height: auto !important;
		min-height: 0 !important;
		filter: grayscale(1) contrast(1.6) brightness(0.95);
		mix-blend-mode: multiply;
		transition: filter .36s ease-in;
		animation-name: fadeIn;
		animation-duration: .7s;
		animation-fill-mode: both;

		&:hover {
			filter: none;
			transition: filter .36s ease-in;
		}
	}
}
.main {
	max-width: 900px;
	margin: 0 auto;
	padding: 1em 3em 3em;

	ol {
		margin: 0 auto;
		padding: 0;

		counter-reset: beer-counter;

		li {
			position: relative;
			margin-bottom: .5em;
			padding: 0;
			list-style: none;
			line-height: 1;

			counter-increment: beer-counter;

			&:before {
				content: counter(beer-counter);
				position: absolute;
				left: -20px;
				top: 50%;
				margin-top: -17px;
				border-radius: 50%;
				border: 2px solid var(--color-secondary);
				box-shadow: 0 0 0 2px var(--color-primary);
				height: 30px;
				width: 50px;
				background: var(--color-primary);
				text-align: center;
				font-size: 200%;
				text-indent: 0;
				color: #FFF;
			}
		}
	}
	a {
		display: block;
		padding: 12px 12px 12px 45px;
		border: 2px solid var(--color-secondary);
		background: var(--color-background);
		text-decoration: none;
		color: var(--color-text);

		@include heading;

		&:hover,
		&:focus {
			border-color: var(--color-primary);
		}
		&::first-letter {
			font-size: 120%;
		}
	}
}
.date {
	display: block;
	height: 64px;
	margin: 2rem auto;
	padding-top: 136px;
	background: var(--color-background) center / contain no-repeat url('/img/beerpack.svg');
	font-weight: bold;
	font-size: 110%;
	text-align: center;
}
.brand {
	color: var(--color-secondary);
}
.beer {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-around;
	column-gap: 1em;

	box-sizing: border-box;
	margin: 1.5em auto 0;
	padding: 3em;
	background: var(--color-background);
	box-shadow: inset 0 0 10px var(--color-secondary);
	text-align: center;
}
.beerinfo {
	width: 100%;

	animation-name: fadeIn;
	animation-duration: .7s;
	animation-fill-mode: both;

	h2 {
		margin: 0;
		font-size: 200%;
		line-height: 1;

		@include heading;

		span {
			display: block;

			&::first-letter {
				font-size: 120%;
			}
		}
	}
}
.beermeta {
	flex: 1;
	max-width: 500px;

	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		padding-left: 0;

		li {
			display: flex;
			flex-direction: row;

			strong,
			span {
				flex-basis: 0;
				flex-grow: 1;
				margin: 0 5px;
			}
			strong {
				text-align: right;
			}
			span {
				text-align: left;
				color: var(--color-secondary);
			}
		}
	}
}
.untappd {
	text-align: center;

	a {
		display: inline-block;
		padding: 10px 15px;
		background: rgb(255,203,5);
		border: 0;
		text-decoration: none;
		text-align: center;
		font-size: small;
		font-weight: bold;
		line-height: 1;
		font-family: Arial, Helvetica, sans-serif;
		color: var(--color-text);

		@include heading;

		&:hover,
		&:focus {
			opacity: 1;
			background: rgb(255,203,5);
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@media (max-width:700px) {
	.meta h1 {
		font-size: 2em;
	}
	.beerinfo h2 {
		font-size: 1.2em;
	}
	.image {
		width: 100%;
		text-align: center;
	}
}